.wrapper {
    margin: 20px;
}

.accordion {
    border: 1px solid #ddd;
    border-radius: 5px;
}

.item {
    border-bottom: 1px solid #ddd;
}

.title {
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title:hover {
    background-color: var(--background-color);
}

.content {
    padding: 10px;
    border-top: 1px solid #ddd;
    background-color: #35acd1;
}

.bi {
    font-size: 1.2em;
}